<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <title>Phonebook</title>
</head>
<body>

    <header>
        <div class="header-left">
            <a href="/phonebook">
                <button class="logo-button">
                    Phonebook
                </button>
            </a>
        </div>
        <div class="header-right">
                <a href="/adminpanel">
                     <button class="head-button">
                         Admin Panel
                     </button>
                 </a>   
                <a href="/about">
                    <button class="head-button">
                        Про нас
                    </button>
                </a>

                <a href="/logout">
                    <button class="head-button">
                        Вийти
                    </button>
                </a>
        </div>
    </header>

    <div class="options-container">
        <a href="/phonebook"><button class="option-button">Головна</button></a>
        <a href="/phonebook/profile"><button class="option-button">Профіль</button></a>
        <a href="/phonebook/list"><button class="option-button">Список контактів</button></a>
        <a href="/phonebook/adding"><button class="option-button">Додати контакт</button></a>
        <a href="/phonebook/options"><button class="option-button">Налаштування</button></a>

    </div>



    <div class="profile-div">
    <table class="table-profile">
        <thead>
            <tr>
                <th>Профіль користувача <%= username %> </th>
                <th></th>
            </tr>
        </thead>
        <tr>
            <td>Нікнейм:</td>
            <td class="wtd"><%= username %></td>
        </tr>
        <tr>
            <td>Ім'я:</td>
            <td class="wtd"><%= name %></td>
        </tr>
        <tr>
            <td>Прізвище:</td>
            <td class="wtd"><%= surname %></td>
        </tr>
        <tr>
            <td>Електронна пошта:</td>
            <td class="wtd"><%= email %></td>
        </tr>
        <tr>
            <td>Номер телефону:</td>
            <td class="wtd"><%= number %></td>
        </tr>
        <tr>
            <td>ID:</td>
            <td class="wtd"><%= id %></td>
        </tr>
        <tr>
            <td>Role:</td>
            <td class="wtd"><%= role %></td>
        </tr>
    </table>

    <div class="profilee-div">
        <p class="contacts-count-p">Ви можете редагувати профіль у розділі "Налаштування"</p>
        <p class="contacts-count-p">Ви увійшли як <%= (role === "ADMIN") ? "адміністратор" : "звичайний користувач" %></p>
    </div>
    </div>



</body>
</html>